.Container {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
}

#iconAndName{
   display: flex; 
   align-items: center;
}

.Message {
  background-color: rgb(220, 228, 225);
  margin: 1vh;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  height: 35vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#7a7676 ;
}

.Message_type {
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    height: 6vh;
    width: 77vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#7a7676 ;
}

.Message_Detail {
    font-size: 2.5vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    height: 3vh;
    width: 73vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
