#AIAttendancesPage {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  align-items: center;
}

#AIAttendances {
  background-image: url(./img/WhatsApp\ Image\ 2024-07-08\ at\ 15.19.29_ee30714b.jpg);
  width: 80vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
  filter: blur(6px);
}

#doubleTickIcon {
  position: absolute;
  left: 65vw;
  top: 82vh;
  background-size: cover;
  background-position: center;
  width: 33vw;
  height: 12vh;
  background-image: url(./img/doubleTickIcon.png);
}
