/* src/WebcamCapture.css */
.Face_Detection {}


.webcam-frame {
  display: inline-block;
  padding: 0vh;
  border: 1vh solid red;
  transition: border-color 0.3s;
}

.webcam-frame.clear {
  border-color: green;
}

.webcam-frame.unclear {
  border-color: red;
}

.App-header {

  font-size: 1vh;
}

.Take_Profile_Pricture {
  size: 2vh;

}