/* src/WebcamCapture.css */
.webcam-frame {
  margin: 1vh;
  display: flex;
  padding: 0px;
  border: 5px solid red;
  transition: border-color 0.3s;
}

.webcam-frame.clear {
  border-color: green;
}

.webcam-frame.unclear {
  border-color: red;
}

.show-button {

  display: block;
}


.hide-button {

  display: none;

}


.App-header {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8%;
  border-style: inset;
  border-width: 3px;
  border-radius: 8px;
  padding: 1vh;
}