#loginBody {
  height: 100vh;
  width: 100vw;
  background-size: 105% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/campusStyleLoginPageBackgroundKid.jpg");
  overflow: hidden;
}
#ecParentLogo {
  position: absolute;
  top: 6vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 12vh;
  background-image: url(./img/E-C-Parnet-7-8-2024.png);
}

#loginCoreBackground {
  display: flex;
  height: 60vh;
  width: 100vh;
  align-items: flex-end;
  justify-content: center;
}

#loginContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
}

#privacyPolicyAndOption {
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#agreeOptionBox {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 100%;
}

#loginCore {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  padding: 30px;
  background-color: #6dae68;
  z-index: 999;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  border-radius: 5vh;
  outline: 0.5rem solid #997239;
}

.loginCore-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

#loginInputBar {
  display: flex;
  flex-direction: column;
}

#welcome,
#email,
#password {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#email input,
#password input {
  height: 2vh;
  width: 300px;
  background-color: azure;
}

#popupBox {
  position: relative;
  color: azure;
  width: 40vh;
  height: 50vh;
  padding: 5px;
  background-color: #3f653c;
  transform: translateY(1vh);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  border-radius: 5vh;
  outline: 0.5rem solid #997239;
}
