#loginContainer {
  display: flex;
  height: 100vw;
  flex-direction: column;
}

#loginBanner {
  writing-mode: vertical-lr;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  height: 40%;
  width: 100%;
  background-image: url(./img/loginBanner.png);
}

#loginTop{
  background-color: black;
}

#privacyPolicyAndOption {
  /* writing-mode: vertical-lr; */
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
  width: 100vw;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/campusStyleLoginPageBackground.jpg");
}

/* #privacyPolicy {
  display: flex;
  height: 22vh;
  width: 100%;
  flex-direction: column-reverse;
  background-color: blue;
} */

#agreeOptionBox {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 100%;
}

#loginCore {
  display: flex;
  height: 193px;
  width: 36vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 7px;
  top: 70px;
}

#loginInputBar {
  display: flex;
  flex-direction: column;
}

#welcome,
#email,
#password {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.input {
  height: 2vh;
  width: 300px;
}

#popupBox {
  color: rgb(244, 238, 240);
  font-size: small;
  position: relative;
  left: 9px;
  width: 40ch;
  height: 50vh;
  padding: 10px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1px;
  background-image: url(./img//PopuploginPrivacyPolicyBackground.jpg);
}
