/* .navbar_container{
    position: absolute;
    display: block;
    z-index: 100;
    top: -10px;
    left: -5px;
    height: 937px;
    width: 50vw;
    background-color: rgb(178, 178, 178);
} */

.navbar_container {
  z-index: 100;
  position: fixed;
  left: 0vh;
  bottom: 0vh;
  width: 55.9vw;
  height: 100vh;
}

.navbar_logo_container {
  height: 6.5vh;
  width: 55.9vw;
  background-image: url(./img/navbarBannerSunAndSky.png);
  background-size: cover;
  overflow: hidden;
}

.navbar_function_container {
  height: 100vh;
  width: 55.9vw;
  background-size: 105% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-image: url(./img//navbarBottonGrass.png);
  background-color:#3ab3d4;
}

.navbar_info_container {
  height: 25%;
  width: 100%;
  background-color: aqua;
  position: relative;
}

.navbar_function {
  height: 12vh;
  width: 55.9vw;
  background-color: antiquewhite;
  border-bottom: 2px solid #ccc;
  display: flex;
}
/* 
.navbar_function_logo {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.navbar_function_text {
  color: black;
  font-size: medium;
  text-align: start;
  align-content: center;
}

.navbar_info_GobackButton {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
