.navbar_function_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 10vh;
  
}

.navbar_function_container {
  height: 100vh;
  width: 55.9vw;
}

.navbar_container {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;

}

/* #navbarMenu{} */

.navbarButton {
  z-index: 9999;
  /* background-color: #1f0eb1 !important; */
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 10.5vh;
  width: 92vw;
  border-bottom: 2px solid #1f0eb1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px dashed rgba(86, 169, 218, 0.7);
}

.navbar_function_text {
  font-size: 2vh;
  font-family: Arial, Helvetica, sans-serif;
}
