.navbar_function_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 10vh;
  
}

.navbar_function_container {
  height: 100vh;
  width: 55.9vw;
}

.navbar_container {
  z-index: 100;
  position: fixed;
  left: 0vh;
  bottom: 0vh;
  width: 55.9vw;
  height: 100vh;
  background-color: #42b6d7;
}

.navbar_logo_container {
  height: 6.5vh;
  width: 55.9vw;
  background-image: url(./img/navbarBannerSunAndSky.png);
  background-size: cover;
  overflow: hidden;
}

.navbarButton {
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 10vh;
  width: 54.9vw;
  /* border-bottom: 2px solid #1f0eb1; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  border: 2px dashed rgba(86, 169, 218, 0.7);
}

.navbar_function_text {
  font-size: 2vh;
  font-family: Arial, Helvetica, sans-serif;
}
