body{
    background-color: black;
}

.Container{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -47%); */

    /* border: 1px solid #ccc; */
    margin-top: 2vh;
    /* border-radius: 8px; */
    height: 85vh;
    width: 93vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Filter_Container{
    height: 7vh;
    width: 93vw;
    /* border: 1px solid #ccc;
    border-radius: 8px; */
    margin: 10px;
    display:flex;
    justify-content: space-evenly;
}

.Message_Container{
    margin: 2vh;
    /* height: 86%; */
    width: 85vw;

    /* border: 1px solid #ccc; */
    border-radius: 8px;

    overflow-y: scroll;
}


.bootstrapButton {
    box-shadow: none;
    text-transform: none;
    font-size: 16px;
    padding: 6px 12px;
    border: 1px solid;
    line-height: 1.5;
    background-color: #99c3f0;
    border-color: #388eeb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  
  .bootstrapButton:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: none;
  }
  
  .bootstrapButton:active {
    box-shadow: none;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .bootstrapButton:focus {
    box-shadow: 0 0 0 0.3rem rgba(0,123,255,.5);
}