body {
    height: 95vh;
    width: 100vw;
    background-size: 105% 105%;
    background-repeat: no-repeat;
    background-position: center bottom -6vh;
    background-image: url("../src/img/homePageBackground.jpg");
    overflow: hidden;
  }
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    /* background-color: #1f0eb1 !important; */
    height: 55vh !important;
    width: 95vw !important;
    position: absolute !important;
    left: 2vw !important;
    top: 8vh !important;
    overflow-y: hidden !important;
  overflow-x: hidden !important;
  }