.header {
  background-color: rgba(112, 131, 236, 0.5);
  height: 6.5vh;
  
}

#drawerPaper {
  justify-content: center;
  width: 95vw;
  height: 95vh;
  animation: showDropdown 0.6s ease-in-out;
}

@keyframes showDropdown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#list{
  position: fixed;
  top: 2vh;
  left: 2vw;
}
