.Message{
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;

    height: 60vh;
    width: 80vw;
    background-color: rgb(220, 228, 225);
    color:#7a7676 ;
}

.Message_type{
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    height: 7%;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Message_Detail{
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;

    height: 42vh;
    width: 74vw;
    padding: 1vh;
}

.OptionContainer{
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    height: 40%;
    width: 93%;
    display:flex;
}

.ChoicesContainer{
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;

    height: 80%;
    width: 25%;
    display:flex;
    flex-direction: column;

}

.ChoicesContentsContainer{
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;

    height: 80%;
    width: 50%;

    display:flex;
    flex-direction: column;
}

.ChoicesPricesContainer{
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;

    height: 80%;
    width: 25%;

    display:flex;
    flex-direction: column;
}


.createdAt{
    
    font-size: 2vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;

    height: 3%;
    width: 18vw;
    position: absolute;
    bottom: 17vh;
    right: 10vw;
}
