.Message{
    background-color: rgb(220, 228, 225);
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    height: 15.5vh;
    width: 79vw;
}

.Message_type{
    font-size: 2.5vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    height: 3vh;
    width: 73vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#7a7676 ;
}

.Message_Detail{
    font-size: 2.5vh;
    background-color: aliceblue;
    margin: 1vh;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    height: 3vh;
    width: 73vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#7a7676 ;
}