.MainContainer{
    display: flex;
    border: 1vh inset #ccc;
    border-radius: 1vh;
    height: 85vh;
    width: 94%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    font-size: 2vh;
    color:#7a7676 ;
    padding-top: 1vh;
}

.TopContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    
    height: 20%;
    width: 94%;
    align-items: center;
    /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.ClassContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 20%;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1vh;
    margin-left: 0.5vh;
    
}

.TopicContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 20%;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 0.5vh;
}

.ContentContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 20%;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 0.5vh;
}

.TotalReplyContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 20%;
    width: 94%;
    display:block;
    align-self: center;
}

.RepliedContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 35%;
    width: 94%;
    align-items: center;
    justify-content: space-around;
    margin-top: 1vh;
    margin-left: 0.5vh;
}
.UnReplyContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 35%;
    width: 94%;
    align-items: center;
    justify-content: space-around;
    margin-left: 0.5vh;
}

.TotalContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 30%;
    width: 94%;
    
}

.ReplyContainer{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    /* display: flex; */
    height: 55%;
    width: 94%;
    

}

.Replied{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 45%;
    width: 94%;
    margin-top: 1vh;
    margin-left: 0.5vh;
}

.NotReplied{
    border: 0.5vh inset #ccc;
    border-radius: 1vh;
    display: flex;
    height: 45%;
    width: 94%;
    margin-left: 0.5vh;
}