#registeFromPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
  height: 85vh;
  width: 90vw;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  border: 2px dashed #56a9da;
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#navbarButton {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  height: 5vh;
  padding: 1vh;
  margin: 1vh;
}
#teacherButton,
#parentButton,
#studentButton {
  max-width: 25vw;
}

/* RegisteAdminFrom.tsx Css */

#RegisteAdminFrom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 85vw;
  background: #e0ffff;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  border: 2px dashed solid #56a9da;
  position: absolute;
  top: 12vh;
  left: 2vw;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#registeAdminIcon {
  height: 70%;
  width: 100%;
  background-image: url(./img/teacherIcon.png);
  background-size: cover;
  background-position: center;
}

#registeAdminInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registeAdminInput {
  border: 10px;
  width: 45vw;
  height: 0vh;
}

#registeAdminButton {
  width: 30vw;
  height: 5vh;
  margin: 1vh;
}

/* RegisteParentFrom.tsx Css */
#RegisteParentFrom {
  height: 60vh;
  width: 85vw;
  background: rgba(0, 128, 0, 0.3);
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  border: 2px dashed #56a9da;
  position: absolute;
  top: 12vh;
  left: 2vw;
}

/* RegisteStudentFrom.tsx Css */
#RegisteStudentFrom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 75vh;
  width: 85vw;
  background: #e0ffff;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  border: 2px dashed solid #56a9da;
  position: absolute;
  top: 9vh;
  left: 2vw;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#registeStudentIcon {
  margin: 1vh;
  height: 54%;
  width: 100%;
  background-image: url(./img//studentIcon.png);
  background-size: cover;
  background-position: center;
}

#registeStudentInfo {
  display: flex;
  height: 40vh;
  width: 39vh;
  /* background-color: yellow; */
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.registeStudentInput {
  border: 10px;
  width: 45vw;
}

.registeStudentInput input{
 padding: 1px;
}

#registeStudentButton {
  width: 30vw;
  height: 5vh;
  margin: 1vh;
}