#registeFromPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
  height: 85vh;
  width: 87vw;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#navbarButton {
  display: flex;
  width: 90vw;
  height: 10vh;
  padding: 1vh;
  margin: 1vh;
}
#teacherButton,
#parentButton,
#studentButton,
#alreadyHaveACButton {
  width: 45vw;
  height: 5vh;
  border: #ccc;
  border-radius: 1vh;
  margin: 0.5vh;
}

#leftButtonArea,
#rightButtonArea {
  display: flex;
  flex-wrap: wrap;
}

/* RegisteAdminFrom.tsx Css */

#registeAdminFrom {
  display: flex;
  height: 45vh;
  width: 93vw;
  background: #e0ffff;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  position: absolute;
  top: 15vh;
  left: -2vw;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
}

#registeAdminIconAndButton {
  height: 30vh;
  width: 49vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registeAdminIcon {
  margin: 1vh;
  height: 20vh;
  width: 40vw;
  background-color: aliceblue;
  background-image: url(./img//studentIcon.png);
  background-size: cover;
  background-position: center;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
}

#registeAdminButton {
  width: 30vw;
  height: 5vh;
  margin: 1vh;
}

#registeAdminInfo {
  display: flex;
  height: 20vh;
  width: 39vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#registeAdimnInput {
  width: 40vw;
  height: 4vh;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  padding: 1px;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  font-size: 1.5vh;
}

/* RegisteParentFrom.tsx Css */
#RegisteParentFrom {
  display: flex;
  height: 45vh;
  width: 93vw;
  background: #e0ffff;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  position: absolute;
  top: 15vh;
  left: -2vw;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
}

#registeParentIconAndButton {
  height: 30vh;
  width: 49vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registeParentIcon {
  margin: 1vh;
  height: 20vh;
  width: 40vw;
  background-color: aliceblue;
  background-image: url(./img//studentIcon.png);
  background-size: cover;
  background-position: center;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
}

#registeParentButton {
  width: 30vw;
  height: 5vh;
  margin: 1vh;
}

#registeParnetInfo {
  display: flex;
  height: 21vh;
  width: 39vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.registeParnetInput {
  width: 40vw;
  height: 4vh;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  padding: 1px;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  font-size: 1.5vh;
}

/* RegisteStudentFrom.tsx Css */
#RegisteStudentFrom {
  display: flex;
  height: 45vh;
  width: 93vw;
  background: #e0ffff;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  position: absolute;
  top: 15vh;
  left: -2vw;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
}

#registeStudentIconAndButton {
  height: 30vh;
  width: 49vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registeStudentIcon {
  margin: 1vh;
  height: 20vh;
  width: 40vw;
  background-color: aliceblue;
  background-image: url(./img//studentIcon.png);
  background-size: cover;
  background-position: center;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
}

#registeStudentButton {
  width: 30vw;
  height: 5vh;
  margin: 1vh;
}

#registeStudentInfo {
  display: flex;
  height: 40vh;
  width: 39vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.registeStudentInput {
  width: 40vw;
  height: 4vh;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  padding: 1px;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  font-size: 1.5vh;
  margin: 2px
}

#confirmParentACFrom{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  width: 93vw;
  background: #e0ffff;
  opacity: 0;
  transform: translateY(-20px);
  animation: emerge 0.5s ease forwards, float 3s ease-in-out infinite;
  position: absolute;
  top: 15vh;
  left: -2vw;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
}

#confirmParentACInput {
  width: 40vw;
  height: 4vh;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  padding: 1px;
  border: 0.5vh solid #ccc;
  border-radius: 1vh;
  font-size: 1.5vh;
}

#confirmParentACButton {
  width: 30vw;
  height: 5vh;
  margin: 1vh;
}